
.Carousel{
    margin: 100px auto;
    width: 90%;
    box-sizing: border-box;
    
    overflow-x: auto;
     display: flex;
    
}
.group {
    display: flex;
    flex: content;
    margin: 100px auto;
    gap: 20px;
    animation: spin 10s linear infinite;
    padding-right: 2em;
    }

::-webkit-scrollbar{
    display: none;
}

.Carousel .card {
    width: 200px;
    height: 250px;
    flex-shrink: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Carousel img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    flex: 0 0 50%;
}
 @keyframes spin {
    from {translate: 0 0;}
    to {translate: -100% 0;}
 }