@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.page-layout {
    display: flex;
}

.main-content-area {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #ffffff;
    
}

#sidebar-container {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #002348;
    display: flex;
    flex-direction: column;
}

#sidebar-container.expand {
    width: fit-content;
    min-width: 400px;
    max-width: 500px;
}

.sidebar-toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.sidebar-toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-brand {
    margin: auto 0;
}

.sidebar-brand a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar-container:not(.expand) .sidebar-brand,
#sidebar-container:not(.expand) a.sidebar-nav-link span {
    display: none;
}

#sidebar-container.expand .sidebar-brand,
#sidebar-container.expand a.sidebar-nav-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-navigation {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-nav-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.sidebar-nav-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-nav-link:hover {
    background-color: rgba(81, 135, 252, 0.075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-nav-item {
    position: relative;
}

#sidebar-container:not(.expand) .sidebar-nav-item .sidebar-dropdown-menu {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar-container:not(.expand) .sidebar-nav-item:hover .has-dropdown+.sidebar-dropdown-menu {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar-container.expand .sidebar-nav-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar-container.expand .sidebar-nav-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.top-navigation {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.top-navigation .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.department-card {
    transition: transform 0.2s ease-in-out;
    background-color: rgba(13, 104, 242, 0.075);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.department-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(13, 104, 242, 0.075);
    background-color: rgba(13, 104, 242, 0.075);
    
}

.page-footer {
    word-wrap: break-word;
    overflow-wrap: break-word;
}